# Base de datos PostgreSQL (Neon, Supabase, Vercel Postgres, etc.)
DATABASE_URL="postgresql://user:pass@host/db?sslmode=require"
DIRECT_URL="postgresql://user:pass@host/db?sslmode=require"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="genera-uno-largo-aleatorio-de-32-caracteres-o-mas"

# UploadThing (opcional, solo si quieres subir archivos reales)
UPLOADTHING_SECRET=""
UPLOADTHING_APP_ID=""
